<h1>Task Manager</h1>
<hr>
<style>
	.completed{
		color : red;
		text-decoration: line-through;
		font-stretch: italic;
		font-weight: bold;
	}

</style>
<ol>
	{{#each list}}
		<li>
			{{#if isCompleted}}
				<span class="completed"> {{name}} </span>	
			{{else}}
				<span> {{name}} </span>
			{{/if}}
		 <a href="/tasks/toggle/{{id}}">X</a></li>
	{{/each}}
</ol>
<a href="/tasks/new">Create New</a>